
.header{

    text-align: center;
    padding: 50px;
    
}
.button{
    text-align: center;

}
.corner-button {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 40px;
    padding: 10px;
    background-color:grey;
    color: #fff;
    border: black;
    cursor: pointer;
}
.card{
     align-content: center;
    margin-top: 25%;
    width: 18rem;
     content: flex;
     border-color: black;
}




.container-fluid{
    align-items: center;
}